<html>
  <link rel="stylesheet" type="text/css" href="css/bulma.css"/>
  <link rel="stylesheet" type="text/css" href="css/pump.css"/>
<body>
<div class="section">
  <div class="container">
    <img src="v1/camera/latest" />
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        {% for plant in config.plants.values() %}
          <a class="pump button is-large is-fullwidth {{ "is-success" if plant.pump.is_running else "" }}"
             href="v1/pump/{{ plant.pump.name }}/{{ "off" if plant.pump.is_running else "on"}}">
            {{ plant.name }}
          </a><!-- .button -->
        {% endfor %}
      </div><!-- .column -->
      <div class="column"></div>
    </div><!-- .columns -->
  </div><!-- .container -->
</div><!-- .section -->
<script type="text/javascript" src="js/pump.js"/>
</body>
</html>
