<html>
  <link rel="stylesheet" type="text/css" href="css/pump.css"/>
<body>
<table border=1>
<tr><th>Name</th><td>GPIO</td><td>Running?</td></tr>
{% for pump in pumps.pumps %}
  <tr class="{{ "on" if pump.is_running else "off" }}">
    <th> {{ pump.name }} </th>
    <td> {{ pump.gpio_pin_number }} </td>
    <td>
      <a href="v1/pump/{{ pump.name }}/{{ "off" if pump.is_running else "on" }}">
        {{ pump.is_running }}
      </a>
    </td>
  </tr>
{% endfor %}
</table>
<script type="text/javascript" src="js/pump.js"/>
</body>
</html>
